<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AeRenderPath" value="C:\Program Files\Adobe\Adobe After Effects CS5.5\Support Files\aerender.exe"/>
    <add key="OutputPath" value="c:\Files\f\OutPut\Latest\"/>
    <add key="AeProjectFile" value="C:\Users\admin\Desktop\latest--new\09--latest--new.aep"/>
    <add key="ImagePath" value="C:\Users\admin\Desktop\latest--new\(Footage)\photo--2 Layers\"/>
    <add key="RenderIntervalMin" value="30"/>
    <add key="Composition" value="Comp 1"/>
    <add key="WebUrl" value="http://www.presstv.ir"/>
    <add key="OutPutFileName" value="LatestNews"/>   
    <add key="WaitForSiteLoadSec" value="1"/>

    <add key="ScheduleDestFileName" value="c:\Files\f\OutPut\ComingUp\"/>
  </appSettings>
</configuration>